<br>
<div class="panel panel-primary" ng-controller="loginController">
    <br>
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center">图书管理系统</h2>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12">
            <form class="form-horizontal" role="form" name="form1">
                <div class="form-group">
                    <label class="col-md-offset-3 col-md-2 control-label">
                        用户名：
                    </label>
                    <div class="col-md-4"
                         ng-class="{'has-error':form1.email.$invalid &&form1.email.$dirty}">
                        <input type="email" name="email" class="form-control" placeholder="请使用邮箱" ng-model="user.email"
                               required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-offset-3 col-md-2 control-label">
                        密码：
                    </label>
                    <div class="col-md-4"
                         ng-class="{'has-error':form1.password.$invalid &&form1.password.$dirty}">
                        <input type="password" name="password" class="form-control" placeholder="请输入密码，只能是数字、字母和下划线"
                               ng-model="user.password" required ng-minlength="6" ng-maxlength="18">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-5 col-md-7">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="checkout" ng-model="user.checkout">下次自动登录
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-5 col-md-7">
                        <input type="button" class="btn btn-success" ng-click="login()" value="登 录"
                               ng-disabled="form1.$invalid">
                        <input type="button" class="btn btn-danger  col-md-offset-1" ng-click="reset()" value="重 置">
                    </div>
                </div>
                <br>
            </form>
        </div>
        <br>
    </div>
</div>